/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/log
/testdb

.project
.classpath
/bower_components
/resources/public/libs
/node_modules
bundle.js
bundle.min.js
*.log
npm-debug.log
resources/public/build